version: "3.8"

services:

  statapp_service:
    image: statapp-image
    container_name: statapp-container
    hostname: statapp-host
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    volumes:
      # Main application code
      - ./Makefile:/statapp/Makefile
      # Mlflow folder for experiment tracking
      - ./mlflow:/statapp/mlflow
      # Python dependencies
      - ./pyproject.toml:/statapp/pyproject.toml
      - ./requirements.txt:/statapp/requirements.txt
      - ./uv.lock:/statapp/uv.lock
    ports:
      - 8874:8874 # JupyterLab
      - 5005:5005 # Mlflow user interface