version: "3.8"

services:

  statapp_service:
    image: statapp-image
    container_name: statapp-container
    hostname: statapp-host
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    volumes:
      # Copy all files from the current directory to working folder inside the container
      - ./:/statapp
    ports:
      - 8874:8874 # JupyterLab
      - 5005:5005 # Mlflow user interface
