version: "3.8"

services:

  statapp_service:
    image: statapp-image
    container_name: statapp-container
    hostname: statapp-host
    build:
      context: .
      dockerfile: Dockerfile
    command: sleep infinity
    volumes:
      - ./Makefile:/statapp/Makefile
      - ./islp:/statapp/islp
      - ./pyproject.toml:/statapp/pyproject.toml  # Mount project config
    ports:
      - 8888:8888 # JupyterLab
      - 5000:5000 # Mlflow user interface
